---
import { Icon } from "astro-icon";
---

<div
	class="relative"
	x-init="$nextTick(() => { open = true; })"
	x-data={`
	{
		open: false,
		theme: localStorage.theme || 'system',
		updateDocumentClassTheme: function() {
			if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
				document.documentElement.classList.add('dark');
			} else {
				document.documentElement.classList.remove('dark');
			}
		},
		switchTheme: function () {
			if (!('theme' in localStorage)) {
				localStorage.theme = 'dark';
				this.theme = 'dark';
			} else if (localStorage.theme === 'dark') {
				localStorage.theme = 'light';
				this.theme = 'light';
			} else if (	localStorage.theme === 'light') {
				localStorage.removeItem('theme');
				this.theme = 'system';
			}
			this.updateDocumentClassTheme();
		},
	}`}>
	<div
		x-cloak
		x-show="open"
		aria-label="Theme selection"
		class="group rounded-full bg-gradient-to-b from-zinc-50/50 to-white/90 px-3 py-2 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur transition dark:from-zinc-900/50 dark:to-zinc-800/90 dark:ring-white/10 dark:hover:ring-white/20"
		@click="switchTheme()">
		<template x-if="theme === 'light'">
			<Icon name="fluent:weather-sunny-16-filled" class="w-5 dark:text-white" />
		</template>

		<template x-if="theme === 'dark'">
			<Icon name="fluent:weather-moon-16-filled" class="w-5 dark:text-white" />
		</template>

		<template x-if="theme === 'system'">
			<Icon name="fluent:dark-theme-20-filled" class="w-5 dark:text-white" />
		</template>
	</div>
</div>

<style>
	[x-cloak] {
		display: none !important;
	}
</style>
